* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f4f4f4;
}

.calculator {
    padding: 20px;
    border-radius: 12px;
    border: solid 2px red;
    background-color: #212529;
    width: fit-content;
    box-shadow: 0 5px 15px #000000b0;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
    color: #f4f4f4;
}

.screen {
    /* width: 100%;
    height: 60px;
    color: #f4f4f4;
    border: 2px solid #ddd;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 10px; */

    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
    background-color: #343a40;
    margin: 15px 0px;
}

#display {
    font-size: 2rem;
    text-align: right;
}

/* .operators-x {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 2px;
    gap: 10px;

} */

.operators {
    background-color: #6c757d;
    color: white;
    font-weight: 700;
}

.number {
    background-color: #f8f9fa;
    color: #0d1b2a;
}

.operators,.number {
    width: 60px;
    height: 60px;

    border: none;
    border-radius: 50%;

    font-size: 1.2rem;
    cursor: pointer;
}

.operators:hover {
    background-color: #e0e0e0;
}

.nums {
    display: grid;
    margin-left: 15px;
    grid-template-columns: repeat(4, 60px);
    gap: 10px;
        justify-content: center;

    /* width: 200px; */
}
.number {
    background-color: #f8f9fa;
    border: none;
    border-radius: 50%;
    padding: 15px;
    color:#0d1b2a;
    font-size: 1.2rem;

}

.operator{
    background-color: #f1faeee7;
    border: none;
    border-radius: 50%;
    padding: 15px;
    color: #1d3557;
    font-size: 1.2rem;
}

#all-clear {
    background-color: #e63946;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: #ffffff;
    font-size: 1.2rem;
}